@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a.active {
    @apply border-b-2 border-gray-600 text-black
}

@keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

.upDownAnimation {
    animation: upDown 5s infinite;
}